*{
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'roboto mono';
  line-height: 1.5;
  font-weight: 400;
  padding: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #313235;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  padding: 0;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

main{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 7em;
}